* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #f1f5f9;
    line-height: 1.6;
}

header {
    padding: 60px 20;
    text-align:center;
    background: linear-gradient(135deg, #2563eb, #7c3aed);
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

 header p {
    font-size: 1.2rem;
    opacity: 0.9;
}

section {
    padding: 60px 10%;
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    border-left: 5px solid #7c3aed;
    padding-left: 15px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: #334155;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 15px;
    opacity: 0.8;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    background: #7c3aed;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 0.85rem;
    transition: 0.3s;
}

.btn:hover {
    background: #6d28d9;
}

.about {
    max-width: 800px;
}

footer {
    text-align: center;
    padding: 30px;
    background: #0f172a;
    border-top: 1px solid #1e293b;
    font-size: 0.9rem;
    opacity: 0.7;
}

@media(max-width: 768px){
    header h1 {
        font-size: 2rem;
    }
}

main {
    display: grid;
    gap: 20px;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.repo-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    transition: 0.3s;
}

.repo-card:hover {
    transform: translateY(-5px);
    background: #334155;
}

.repo-card h3 {
    margin: 0 0 10px;
}

.repo-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background: #7c3aed;
    padding: 6px 12px;
    border-radius: 6px;
    color: #fff;
}

.footer-link {
    position: relative;
    text-decoration: none;
    color: #cbd5e1;
    margin: 0 15px;
    font-weight: 500;
    transition: 0.3s;
}

.footer-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #7c3aed;
    transition: 0.3s;
}

.footer-link:hover {
    color: #ffffff;
}

.footer-link:hover::after {
    width: 100%;
}
